.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 7rem 1fr 4rem;
  grid-template-areas: 
  "aside header"
  "aside main"
  "footer footer"
  ;
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}